:root {
    // Светлая тема
    --color-background-light: #ffffff;
    --color-text-light: #000000;
    --color-button-light: #e0e0e0;
  
    // Темная тема
    --color-background-dark: #121212;
    --color-text-dark: #ffffff;
    --color-button-dark: #333333;
  }